[submodule "Dependencies/premake"]
	path = Dependencies/premake
	url = https://github.com/premake/premake-core.git
[submodule "Dependencies/p4"]
	path = Dependencies/p4
	url = https://github.com/gorlak/P4.git
[submodule "Dependencies/InnoSetup"]
	path = Dependencies/InnoSetup
	url = https://github.com/HeliumProject/InnoSetup.git
[submodule "Dependencies/vcpkg"]
	path = Dependencies/vcpkg
	url = https://github.com/microsoft/vcpkg
